<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<% if(typeof(user) != "undefined"){ %>
					<li><a href="javascript:;"><%= user.username %></a></li>
					<li><a href="/logout">退出</a></li>
				<% }else{ %>
					<li><a href="/login">登录</a></li>
					<li><a href="/reg">注册</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>


<div class="page-header">
	<h1>AbleSky<small>url manage</small></h1>
</div>

