<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/index.css' />
<link rel='stylesheet' href='/css/bootstrap.css' />
</head>
<body>

<div class="page-header">
    <h1>AbleSky<small>url manage</small></h1>
</div>


<div class="page-row clearfix">
    <button id="J_addBtn" type="button" class="btn btn-primary add-btn">新增</button>
    <div class="search-wrap">
        <div class="input-group">
            <input type="text" class="form-control search-key" value="" />
            <span class="input-group-btn">
                <button id="J_searchBtn" class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>

</div>

<div class="table-wrap table-responsive">
	<table id="J_table" class="table table-bordered table-condensed table-hover">
    	<thead>
    		<tr>
    			<td width="50">id</td>
    			<td width="300">url</td>
    			<td width="300">devUrl</td>
    			<td width="300">jsp path</td>
    			<td width="200">date</td>
    			<td width="150">操作</td>
    		</tr>
    	</thead>
    	<tbody>
    	</tbody>
	</table>
</div>

<nav class="pagination-wrap">
    <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
</nav>

<script type="text/javascript" data-main="js/index" src="/js/require-jquery.js"></script>

</body>
</html>
