<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/index.css' />
<link rel='stylesheet' href='/css/bootstrap.css' />
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>

<div class="page-header">
    <h1>AbleSky<small>url manage</small></h1>
</div>




<div class="table-wrap table-responsive">
	<table id="J_table" class="table table-bordered table-condensed table-hover">
    	<thead>
    		<tr>
    			<td>id</td>
    			<td>url</td>
    			<td>link</td>
    			<td>jsp path</td>
    			<td>date</td>
    			<td>action</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>id</td>
    			<td>url</td>
    			<td>link</td>
    			<td>jsp path</td>
    			<td>date</td>
    			<td>action</td>
    		</tr>
    	</tbody>
	</table>
</div>

<nav class="pagination-wrap">
    <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
</nav>


<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
