<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/index.css' />
<link rel='stylesheet' href='/css/bootstrap.css' />
</head>
<body>

<div class="table-responsive">
	<table class="table table-bordered table-condensed table-hover">
    	<thead>
    		<tr>
    			<td>id</td>
    			<td>url</td>
    			<td>link</td>
    			<td>jsp path</td>
    			<td>date</td>
    			<td>action</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>id</td>
    			<td>url</td>
    			<td>link</td>
    			<td>jsp path</td>
    			<td>date</td>
    			<td>action</td>
    		</tr>
    	</tbody>
	</table>
</div>


</body>
</html>
